.caixa-botoes {
  display: flex;
  flex-direction: column;
}



.botao {
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  width: 100%;
  margin: 16px 0;
}

.botao:hover {
  background-color: green;
}
