.continente {
  text-align: center;
  padding: 32px;
}

.continente h3 {
  font-size: 32px;
  border-bottom: 4px solid #57c278;
  padding-bottom: 8px;
  color: black;
  display: inline-block;
}

.continente .campeonatos {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}
